/* # BASE # */

:root {
    /* pallete */
    --clr5: #0C98B9;
    --clr4: #33BE6D;
    --clr3: #F64F8B;
    --clr2: #F88558;
    --clr1: #ffffff;

}
/* TYPOGRAPHY*/
@font-face {
    font-family: poppins-light;
    src: url(/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: rampart-one;
    src: url(/fonts/rampart-one/RampartOne-Regular.ttf);
}

@font-face {
    font-family: lemon-regular;
    src: url(/fonts/lemon/Lemon-Regular.ttf);
}

@font-face {
    font-family: 'Bowlby One SC';
    src: url(/fonts/BowlbyOneSC/BowlbyOneSC-Regular.ttf);
}

/* BASICS */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: impact;
    /* background: transparent linear-gradient(148deg, var(--clr3) 0%, var(--clr2)100%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(148deg, #0f1013 0%, #22252c 100%) 0% 0% no-repeat padding-box;
}

button {
    cursor: pointer;
    outline: none;
    font-family: Impact, sans-serif;
}

input[type="color"] {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HELPERS */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* flex helpers */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}
.space-between {
    justify-content: space-between;
}

/* LAYOUT */
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}
.container {
    max-width: 1256px;
}
/* COMPONENTS */

/* header */
header {
    background: transparent linear-gradient(274deg, var(--clr4) 0%, var(--clr5) 100%) 0% 0% no-repeat padding-box;    
    align-items: center;
    margin-block-end: 100px;
}

.header-elements {
    align-items: center;
    margin: auto;
}

.logo {
   height: 30px;
   margin-inline-start: 10px;
}

nav ul li {
    color: #ffffff;
    display: flex;
    font-family: poppins-medium;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    background: #FEFEFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 7px #00000026;    
    color:var(--clr4);
    cursor: pointer;
}

nav a {
    font-family: poppins-medium;
    color: var(--clr1);
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
    background-size: 5.5em 1.9em;
    padding: 0.2em 1em;
    border-radius: 20px;
}

nav a:active {
    background: #FEFEFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 7px #00000026;    
    color: var(--clr4);
}

nav a:visited {
    color: var(--clr1);
}
/* hamburger setting */
.toggle-menu-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s; 
}

button:hover {
    cursor: pointer;
}

/* footer */
footer {
    font-family: poppins-regular;
    color: var(--clr1);
}


    .main-nav ul li {
        font-size: 1.1875;
        height: 66px;
        padding-left: 29px;
    }

    .main-nav {
        padding-right: 57px;
    }
    
    .toggle-menu-btn {
        display: none;
    }

    .toggle-menu-btn {
        display: none;
    }

@media (max-width:900px) {
    header {
        margin-block-end: 0px;
       }
}
@media (max-width: 850px) {
   .container {
        max-width: 700px;
   }
 
}

@media (max-width: 480px) {

    .container {
        max-width: 360px;
    }

    .header-elements {
        height: 50px;
    }

    .main-nav {
        max-width: 350px;
        align-items: center;
        justify-content: space-between;
    }
   
    .toggle-menu-btn {
        display: block;
        margin-inline-end: 10px;
    } 

    .main-nav {
        padding: 0;
    }

    .toggle-menu-btn:hover {
        color: black;
    }

    .main-nav ul li {
        padding: 0 10px;
        margin: 0;
    }

    .main-nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 65px;
        right: 0;
        z-index: 300;
        background: linear-gradient(var(--clr4), var(--clr5));
        transition: transform 1s;
        transform: translate(100%, 0); 
        display: block;
    } 
    
    .open .show-menu {
        transition: transform 2s;
        transform: translate(0, 0); 
    }

    .open .toggle-menu-screen {
        visibility: visible;
        opacity: 1; 
    }
}


