/* #meme gallery# */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 1.625rem;
    justify-content: center;
    align-items: center;
}

.grid-container {
    overflow-y: scroll;
    height: 600px;
    overflow-x: hidden; 
}

/* scrollbar */
.grid-container::-webkit-scrollbar {
    width: 13px;
  }
  
.grid-container::-webkit-scrollbar-track {
    background: #22252C 0% 0% no-repeat padding-box;  
    border-radius: 7px;
}
   
.grid-container::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(274deg, #33BE6D 0%, #0C98B9 100%) 0% 0% no-repeat padding-box;
    border-radius: 7px;
}
  
.grid-container::-webkit-scrollbar-thumb:hover {
    background: #0C98B9; 
}

.grid-container img{
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0,0,0,07);  
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.grid-container img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.gallery-container {
    margin: auto;
    background-color: #383B42;
    border-radius: 10px;
}

.grid-container {
    max-width: 1170px;
}
.grid-gallery {
    max-width: 1170px;
}
.gallery-container {
    max-width: 1240px;
    height: 700px;
    margin: auto;
    padding: 27px 50px;
    padding-inline-start: 57px;
}
.grid-container img {
    height: 173px;
    width: 200px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(140px,1fr));
        gap: 0.8125rem 0.9375rem;
    }
    .grid-container img {
        height: 121px;
        width: 140px;
        border-radius: 10px;
    }
}
@media (max-width: 480px) {

    .gallery-container {
        padding: 18px 10px;
    }
    .grid-container {
        height: 660px;
    }
  
}